## Setup & Connect to Oracle

In [1]:
%load_ext autoreload
%autoreload 2

import sys
sys.path.append("..")

In [2]:
from src.oracle_db_handler import OracleDBHandler
import pandas as pd

### Initialize connection (update with your credentials)

In [16]:
db = OracleDBHandler(user="sys", password="micha1234", dsn="localhost:1522/XEPDB1")                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                 
db.connect()

Attempting to connect with DSN: localhost:1522/XEPDB1 as user: sys
‚úÖ Connected to Oracle DB.

### Create tables (Only run once)

In [17]:
# Create tables (only run once)
db.create_schema()

‚úÖ Schema created.

### Insert sample reviews

In [20]:
# Load cleaned review dataset
df = pd.read_csv("../data/processed/review_sentiments_themes.csv")

### Insert reviews into Oracle

In [28]:
db.insert_reviews(df)

Inserting 3 new banks individually...
New banks inserted and committed.
Bank mapping complete for 3 unique banks.
Preparing to insert 1407 reviews...
üì• Successfully inserted 1407 reviews.

### Fetch Reviews

In [29]:
# Fetch top 5 reviews from all banks
db.fetch_reviews(limit=5)

(1, 'CBE', <oracledb.LOB object at 0x7043b8f74c20>, 5, 'POSITIVE', 'Other')
(2, 'CBE', <oracledb.LOB object at 0x7043b8f749e0>, 2, 'POSITIVE', 'Other')
(3, 'CBE', <oracledb.LOB object at 0x7043b8f76660>, 4, 'NEGATIVE', 'Transaction Issues')
(4, 'CBE', <oracledb.LOB object at 0x7043b8f755b0>, 1, 'NEGATIVE', 'Other')
(5, 'CBE', <oracledb.LOB object at 0x7043b8f77a70>, 5, 'POSITIVE', 'Other')

[(1, 'CBE', <oracledb.LOB at 0x7043b8f74c20>, 5, 'POSITIVE', 'Other'),
 (2, 'CBE', <oracledb.LOB at 0x7043b8f749e0>, 2, 'POSITIVE', 'Other'),
 (3,
  'CBE',
  <oracledb.LOB at 0x7043b8f76660>,
  4,
  'NEGATIVE',
  'Transaction Issues'),
 (4, 'CBE', <oracledb.LOB at 0x7043b8f755b0>, 1, 'NEGATIVE', 'Other'),
 (5, 'CBE', <oracledb.LOB at 0x7043b8f77a70>, 5, 'POSITIVE', 'Other')]

### Fetch Reviews by Bank

In [30]:
# Get reviews for BOA
db.get_reviews_by_bank("BOA", limit=5)

üìÑ Top 5 reviews for BOA:
(923, <oracledb.LOB object at 0x7043b8f99bb0>, 3, 'POSITIVE', 'Other', datetime.datetime(2025, 6, 5, 0, 0))
(924, <oracledb.LOB object at 0x7043b8f982f0>, 1, 'NEGATIVE', 'Account Access', datetime.datetime(2025, 6, 3, 0, 0))
(925, <oracledb.LOB object at 0x7043b8f982c0>, 5, 'POSITIVE', 'Other', datetime.datetime(2025, 6, 3, 0, 0))
(926, <oracledb.LOB object at 0x7043b8f98e90>, 5, 'POSITIVE', 'Other', datetime.datetime(2025, 6, 2, 0, 0))
(927, <oracledb.LOB object at 0x7043b8f9ab10>, 1, 'NEGATIVE', 'Other', datetime.datetime(2025, 6, 1, 0, 0))

[(923,
  <oracledb.LOB at 0x7043b8f99bb0>,
  3,
  'POSITIVE',
  'Other',
  datetime.datetime(2025, 6, 5, 0, 0)),
 (924,
  <oracledb.LOB at 0x7043b8f982f0>,
  1,
  'NEGATIVE',
  'Account Access',
  datetime.datetime(2025, 6, 3, 0, 0)),
 (925,
  <oracledb.LOB at 0x7043b8f982c0>,
  5,
  'POSITIVE',
  'Other',
  datetime.datetime(2025, 6, 3, 0, 0)),
 (926,
  <oracledb.LOB at 0x7043b8f98e90>,
  5,
  'POSITIVE',
  'Other',
  datetime.datetime(2025, 6, 2, 0, 0)),
 (927,
  <oracledb.LOB at 0x7043b8f9ab10>,
  1,
  'NEGATIVE',
  'Other',
  datetime.datetime(2025, 6, 1, 0, 0))]

### Update Sentiment by Review ID

In [31]:
# Change sentiment of review ID 10
db.update_sentiment_by_review_id(review_id=10, sentiment_label="neutral", sentiment_score=0.0)

‚úÖ Updated sentiment for review ID 10

### Update Sentiment by Bank

In [32]:
# Set all Dashen reviews to 'negative' for test
db.update_sentiment_by_bank_name(bank_name="Dashen", sentiment_label="negative", sentiment_score=-0.5)

‚úÖ Updated sentiment for all reviews of Dashen

### Update Theme

In [33]:
# Set all Dashen reviews to 'negative' for test
db.update_sentiment_by_bank_name(bank_name="Dashen", sentiment_label="negative", sentiment_score=-0.5)

‚úÖ Updated sentiment for all reviews of Dashen

### Delete Review

In [34]:
# Delete a single review (use with caution)
db.delete_review_by_id(review_id=10)

üóëÔ∏è Deleted review with ID 10

#### Close connection

In [35]:
db.close()

üîí Connection closed.